.breadcrumbs {
  .breadcrumbs__item.hide {
    @include mq ('phone') {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}

.catalog {
  &__title {
    @include mq('tablet') {
      font-size: 28px;
      margin-bottom: 25px;
    }

    @include mq('phone') {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  &__top {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    @include mq('tablet-2') {
      margin-bottom: 50px;
    }

    @include mq('tablet') {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;
    }

    @include mq('phone') {
      margin-bottom: 30px;
    }
  }

  &__item {
    background-color: $white;
    border: 1px solid $silver-200;
    border-radius: 5px;
    width: 270px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__content {
    justify-content: space-between;

    @include mq ('phone') {
      display: block;
    }
  }

  &__cards {
    margin: 0 auto;

    @include mq('phone') {
      margin: 0;
    }
  }
}

.product-section {
  &__top {
    justify-content: space-between;
    margin-bottom: 60px;

    @include mq('tablet-2') {
      margin-bottom: 50px;
    }

    @include mq('tablet') {
      margin-bottom: 40px;
      flex-direction: column;
    }

    @include mq('phone') {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 30px;

    @include mq('desktop') {
      margin-bottom: 25px;
      font-size: 32px;
    }

    @include mq('tablet-2') {
      margin-bottom: 20px;
      font-size: 29px;
    }

    @include mq('tablet') {
      text-align: left;
    }

    @include mq('phone') {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &__star {
    margin-bottom: 25px;

    @include mq('desktop') {
      margin-bottom: 20px;
    }
  }

  &__price {
    color: $dark-blue900;
    @extend %rubik-500;
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 20px;

    @include mq('desktop') {
      font-size: 23px;
    }
  }

  &__form {
    margin-bottom: 30px;

    @include mq('desktop') {
      margin-bottom: 25px;
    }

    @include mq('tablet-2') {
      flex-direction: column;
    }

    @include mq('phone') {
      margin-bottom: 30px;
    }
  }

  &__input {
    margin-right: 20px;

    @include mq('tablet-2') {
      margin-right: 0;
      margin-bottom: 15px;
      max-width: 158px;
    }
  }

  &__btn {
    padding: 13px 38px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    @extend %rubik-500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, stroke 0.3s;

    @include mq('tablet-2') {
      width: 247px;
    }

    @media (any-hover: hover) {
      &:hover {
        .product-section__btn-icon {
          stroke: $orange-900;
        }
      }
    }

    &:focus {
      .product-section__btn-icon {
        stroke: $orange-900;
      }
    }
  }

  &__btn-icon {
    width: 16px;
    height: 16px;
    margin-right: 15px;
    fill: transparent;
    stroke-width: 2;
    stroke: $white;
  }

  &__subtitle {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $dark-blue900;
    position: relative;

    @include mq('desktop') {
      margin-bottom: 30px;
      font-size: 22px;
    }

    @include mq('phone') {
      font-size: 18px;
    }

    &::after {
      position: absolute;
      content: '';
      bottom: -25px;
      width: 100%;
      height: 1px;
      left: 0;
      background-color: $silver-200;
    }
  }

  &__txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: $lightgray;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .jq-number__field {
    width: 158px;
    border: none;
    border-radius: 3px;
    box-shadow: none;

    @include mq('desktop') {
      width: 140px;
    }

    @include mq('tablet-2') {
      width: 158px;
      height: 44px;
    }
  }

  .jq-number.focused .jq-number__field {
    border: 1px solid $orange-900;
  }

  .jq-number__field input {
    width: 100%;
    padding: 10px 17px;
    border: none;
    outline: none;
    background: none;
    @extend %rubik-400;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-align: center;
    color: $dark-blue900;
    background-color: rgba($orange-700, 0.1);

    @include mq('tablet-2') {
      width: 158px;
    }
  }

  .jq-number {
    padding: 0;
    position: relative;
  }

  .jq-number__spin {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 44px;
    height: 44px;
    border: none;
    background: transparent;
    box-shadow: none;
    user-select: none;
    text-shadow: none;
    background-color: $orange-900;
    cursor: pointer;

    @include mq('tablet-2') {
      top: 22px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .jq-number__spin::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    left: 10px;
    background-color: $white;
  }

  .jq-number__spin.minus {
    right: auto;
    left: 0;
  }

  .jq-number__spin.minus::after {
    top: 20px;
    position: absolute;
    border: none;
    color: $white;
  }

  .jq-number__spin.plus::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 2px;
    top: 10px;
    left: 19px;
    background-color: $white;
  }

  .jq-number__spin.plus::after {
    top: 20px;
    position: absolute;
    border: none;
  }

  &__slider {
    display: flex;
    align-items: center;
    background-color: $white;
  }

  &__slider-navigation {
    position: relative;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
  }

  &__arrow--prev {
    width: 60px;
    height: 60px;
    left: -580px;
  }

  &__arrow--next {
    left: -30px;
    width: 60px;
    height: 60px;
  }

  &__arrow-left,
  &__arrow-right {
    width: 60px;
    height: 60px;
    fill: $dark-blue900;
  }

  &__arrow-left {
    transform: rotate(180deg);
  }

  &__img {
    max-width: 610px;
    height: 550px;
    width: 100%;
  }

  .slick-slider {
    padding: 75px 0;
  }

  &__slick-img {
    margin: 0 auto;
  }

  &__tab-content {
    display: none;

    &.product-section__tab-content--active {
      display: block;
    }
  }

  &__tabs-head {
    margin: 30px 0;
    overflow-x: auto;
    display: flex;
  }

  &__tabs-item {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;

    @include mq('desktop') {
      font-size: 22px;
    }

    @include mq('phone') {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-right: 60px;

      @include mq('desktop') {
        margin-right: 55px;
      }

      @include mq('tablet-2') {
        margin-right: 50px;
      }

      @include mq('tablet') {
        margin-right: 40px;
      }

      @include mq('phone') {
        margin-right: 30px;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        color: $orange-900;
      }
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
      box-shadow: none;
      color: $dark;
    }
  }

  &__content-txt {
    font-size: 20px;
    line-height: 1.5;
    opacity: 0.9;


    @include mq('desktop') {
      margin-bottom: 15px;
    }

    @include mq('tablet-2') {
      font-size: 18px;
    }

    @include mq('tablet') {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__content-txt--bold {
    @extend %rubik-500;
  }

  &__content-txt--mb:not(:last-child) {
    margin-bottom: 10px;
  }

  &__bottom {
    max-width: 690px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;

    @include mq('tablet-2') {
      padding-bottom: 50px;
    }

    @include mq('tablet') {
      padding-bottom: 35px;
    }

    @include mq('phone') {
      padding-bottom: 53px;
    }
  }

  &__review-subtitle {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 30px;

    @include mq('phone') {
      font-size: 20px;
    }
  }

  &__rating-group {
    position: relative;
    font-size: 25px;
    display: inline-block;
  }

  &__rating-group::before {
    content: '★★★★★';
    height: 27px;
    display: block;
    width: 104px;
  }

  &__rating-items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }

  &__rating-item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
  }

  &__rating-labels {
    flex-direction: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: $gray-2;
  }

  &__rating-labels::before {
    content: '★';
    display: block;
    transition: color 0.3s;
  }

  &__rating-labels:hover,
  &__rating-labels:hover~&__rating-labels,
  &__rating-labels:checked~&__rating-labels:hover {
    color: #FFB800;
  }

  &__rating-item:checked,
  &__rating-item:checked~&__rating-labels {
    color: #FFB800;
  }

  &__rating-title {
    display: block;
    font-size: 20px;
    line-height: 1.3;
    color: $lightgray;
    width: 140px;
  }

  &__star-group {
    align-items: center;
    margin-bottom: 20px;
  }

  &__rating-label {
    font-size: 20px;
    line-height: 1.3;
    color: $lightgray;
    margin-right: 15px;
  }

  &__client-review {
    justify-content: space-between;
    margin-bottom: 30px;

    @include mq('tablet') {
      flex-direction: column;
      margin-bottom: 10px;
    }
  }

  &__message-label,
  &__client-label {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.3;
    color: $lightgray;
  }

  &__client-message {
    flex-direction: column;

    @include mq('tablet') {
      margin-bottom: 20px;
    }
  }

  &__client-text {
    padding: 16px 18px;
    resize: none;
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 5px;
    width: 400px;
    height: 165px;
    overflow-x: auto;
    margin-right: 30px;

    @include mq('tablet') {
      margin-top: 0;
      width: 100%;
    }

    &:focus {
      border: 1px solid rgba(194, 194, 194, 0);
      box-shadow: 0 0 0 2px $orange-900;
      color: $gray;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 1.3;
      color: $gray-2;
      transition: color 0.3s;
    }

    @media (any-hover: hover) {
      &:hover::placeholder {
        color: $dark-blue900;
      }
    }
  }

  &__client-name {
    border: 1px solid $gray;
    border-radius: 5px;
    width: 260px;
    height: 57px;
    background-color: $white;
    padding: 18px;

    @include mq('tablet') {
      margin-top: 0;
      width: 100%;
    }

    &:focus {
      border: 1px solid rgba(194, 194, 194, 0);
      box-shadow: 0 0 0 2px $orange-900;
      color: $gray;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 1.3;
      color: $gray-2;
      transition: color 0.3s;
    }

    @media (any-hover: hover) {
      &:hover::placeholder {
        color: $dark-blue900;
      }
    }
  }

  &__client-data {
    margin-bottom: 10px;

    @include mq('tablet') {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  &__client-label,
  &__message-label {
    display: block;
  }

  &__client-mail {
    border: 1px solid $gray;
    border-radius: 5px;
    width: 260px;
    height: 57px;
    padding: 18px;
    background-color: $white;

    @include mq('tablet') {
      margin-top: 0;
      width: 100%;
    }

    &:focus {
      border: 1px solid rgba(194, 194, 194, 0);
      box-shadow: 0 0 0 2px $orange-900;
      color: $gray;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 1.3;
      color: $gray-2;
      transition: color 0.3s;
    }

    @media (any-hover: hover) {
      &:hover::placeholder {
        color: $dark-blue900;
      }
    }
  }

  &__input-save {
    position: absolute;
    opacity: 0;
    z-index: -1;

    &+label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    &+label:before {
      position: absolute;
      content: '';
      display: inline-block;
      vertical-align: text-top;
      left: 0;
      width: 24px;
      height: 24px;
      background-color: $white;
      border: 1px solid $silver-200;
      border-radius: 3px;
    }

    &:focus+label:before {
      border: 1px solid $orange-900;
    }

    @media (any-hover: hover) {
      &+label:hover:before {
        border-color: $orange-900;
      }
    }

    &:checked+label::before {
      background-image: url('../images/sprite.svg#checked');
      @include pseudo;
      background-size: auto;
      border: 1px solid $dark;
    }
  }

  &__input-save+label {
    padding-left: 34px;
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 18px;
    line-height: 1.3;
    color: $lightgray;
    transition: color 0.3s, border-color 0.3s;

    @media (any-hover: hover) {
      &:hover {
        color: $orange-900;
      }
    }
  }

  &__input-save+label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 3px;
    width: 24px;
    height: 24px;
    border: 1px solid $gray-2;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: border-color 0.3s;
  }

  &__input-save+label:hover::before {
    border: 1px solid $orange-900;
  }

  &__input-save:checked+label::before {
    border-radius: 3px;
    border-color: $dark-blue900;
    background-color: rgba($orange-700, 0.1);
    background-image: url('../images/sprite.svg#checked');
  }

  &__label-save {
    font-size: 18px;
    line-height: 1.3;
    color: $lightgray;
  }

  &__remember {
    position: relative;
    margin-bottom: 30px;

    @include mq ('tablet') {
      width: 100%;
    }
  }

  &__form-btn {
    padding: 12px 32px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-align: center;
    border-radius: 5px;
  }

  .slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.review-content {
  &__head {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @include mq('phone') {
      flex-direction: column;
      align-items: start;
    }
  }

  &__list {
    margin-bottom: 60px;
  }

  &__item:not(:last-child) {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
  }

  &__client-info {
    align-items: center;

    @include mq('phone') {
      margin-bottom: 15px;
    }
  }

  &__client-pic {
    margin-right: 25px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  &__client-name {
    @extend %rubik-500;
    font-size: 20px;
    color: $lightgray;
    margin-bottom: 10px;
  }

  &__comment-date {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $lightgray;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    color: $lightgray;

    @include mq('tablet') {
      font-size: 18px;
      max-width: 768px;
      width: 100%;
    }

    @include mq('phone') {
      max-width: 345px;
      width: 100%;
      font-size: 16px;
    }
  }
}

.recent {
  display: flex;
  flex-direction: column;

  &__top {
    position: relative;
  }

  &__title {
    text-align: left;
    margin-bottom: 60px;

    @include mq('tablet-2') {
      margin-bottom: 50px;
      font-size: 30px;
    }

    @include mq('tablet') {
      margin-bottom: 40px;
      font-size: 24px;
    }

    @include mq('phone') {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  &__slider {
    padding: 2px 0;
  }

  &__slider.slick-slider {
    padding: 0;
    margin-bottom: 30px;
  }

  &__item {
    margin: 0 15px;
    padding: 1px 0;
  }

  &__slider-arrow {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__slider-arrows--prev {
    margin-right: 25px;
  }

  &__slider-dots {
    margin: 0 auto;
  }

  &__slider-arrows--next,
  &__slider-arrows--prev {
    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.recent__slider .slick-slide {
  margin-right: 30px;
}

.recent__slider.slick-slider {
  margin-bottom: 0;

  @include mq('phone') {
    margin-bottom: 20px;
  }
}

.carousel {
  max-width: 610px;
  height: 550px;
  width: 100%;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq('desktop') {
    margin-right: 10px;
  }

  @include mq('tablet-2') {
    max-width: 488px;
    height: 440px;
  }

  @include mq('tablet') {
    max-width: 768px;
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
  }

  @include mq('phone') {
    height: 355px;
    margin-bottom: 12px;
  }

  &__img {
    @include mq('tablet-2') {
      width: 300px;
      height: 300px;
    }
  }

  &__slide {
    flex: 0 0 auto;
    width: var(--carousel-slide-width, 100%);
    max-width: 610px;
    height: 550px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq('tablet-2') {
      max-width: 488px;
      height: 440px;
    }

    @include mq('phone') {
      width: 100%;
      height: 345px;
    }
  }

  &__nav {
    @include mq('phone') {
      display: none;
    }
  }
}


.fancybox {
  &__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: var(--fancybox-bg, $white);
  }

  &__container {
    width: 90%;
    height: 90%;
    margin: auto auto;

    &::after {
      content: "";
      display: block;
      position: fixed;
      height: 100vh;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: -5;
    }
  }
}

.carousel {
  &__dots {
    top: calc(100% - 20px);
  }

  &__button.is-close {
    color: rgba(0, 0, 0, 0.15);
  }

  &__button.is-next,
  &__button.is-prev {
    color: $lightgray;
    width: 60px;
    height: 60px;
    box-shadow: none;
  }

  &__dot {
    color: $gray;
    width: 15px;
    height: 15px;
    margin-right: 15px;
  }

  &__dot.is-selected {
    color: $orange-900;
  }

  &__dots .carousel__dot:after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: currentColor;
    transition: opacity .15s ease-in-out;
  }

  &__dots .carousel__dot {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    cursor: pointer;
    margin-right: 15px;
  }
}