<section class="section application">
  <div class="container d-flex">
    <div class="application-content">
      <h2 class="title application__title">Скачайте мобильное приложение</h2>
      <p class="application-content__txt">
        Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом
        удобном месте.
      </p>
      <div class="application-content__download d-flex">
        <a href="#" class="application-content__download-link" target="_blank" rel="noopener noreferrer">
          <img class="application-content__download-img" src="images/download-app-store.png"
            alt="скачать приложение из AppStore"></a>
        <a href="#" class="application-content__download-link" target="_blank" rel="noopener noreferrer">
          <img class="application-content__download-img" src="images/download-google-play.png"
            alt="скачать приложение из GooglePlay"></a>
      </div>
    </div>
    <div class="application-img" style="background-image: url('images/application-img.jpg')"></div>
  </div>
</section>