      <footer class="footer" id="contacts">
        <div class="container">
          <div class="footer-top d-flex">
            <div class="footer-content footer-top__first">
              <a class="footer-content__logo logo" href="#body">
                <img class="logo__img" src="images/logo.png" alt="логотип" width="200" height="39">
              </a>
              <form class="subscribe-form d-flex" action="#" name="subscribe-form">
                <label class="subscribe-form__label" for="email"></label>
                <input class="subscribe-form__input" id="email" type="email" name="email" placeholder="Ваш email"
                  required>

                <button class="subscribe-form__btn d-flex animation-btn" type="submit" name="subscribe-btn">
                  <svg class="subscribe-form__btn-icon">
                    <use xlink:href="images/sprite.svg#subscribe"></use>
                  </svg>
                  Подписаться
                </button>
              </form>
            </div>
            <div class="footer-content footer-top__third">
              <ul class="footer-content__menu">
                <li class="footer-content__item">
                  <a class="footer-content__link animation" href="#" target="_blank" rel="noopener noreferrer">Как это
                    работает</a>
                </li>
                <li class="footer-content__item">
                  <a class="footer-content__link animation" href="#" target="_blank" rel="noopener noreferrer">О нас</a>
                </li>
                <li class="footer-content__item">
                  <a class="footer-content__link animation" href="#" target="_blank" rel="noopener noreferrer">Скачать
                    приложение</a>
                </li>
                <li class="footer-content__item">
                  <a class="footer-content__link animation" href="#" target="_blank" rel="noopener noreferrer">Продукты
                  </a>
                </li>
                <li class="footer-content__item">
                  <a class="footer-content__link animation" href="#" target="_blank" rel="noopener noreferrer">Новости
                  </a>
                </li>
                <li class="footer-content__item">
                  <a class="footer-content__link animation" href="#" target="_blank" rel="noopener noreferrer">Блог </a>
                </li>
                <li class="footer-content__item">
                  <a class="footer-content__link animation" href="#" target="_blank" rel="noopener noreferrer">Блюда</a>
                </li>
                <li class="footer-content__item">
                  <a class="footer-content__link animation" href="#" target="_blank"
                    rel="noopener noreferrer">Партнеры</a>
                </li>
                <li class="footer-content__item">
                  <a class="footer-content__link animation" href="#" target="_blank" rel="noopener noreferrer">Что
                    нового?</a>
                </li>
                <li class="footer-content__item">
                  <a class="footer-content__link animation" href="#" target="_blank" rel="noopener noreferrer">Меню</a>
                </li>
                <li class="footer-content__item">
                  <a class="footer-content__link animation" href="#" target="_blank" rel="noopener noreferrer">ЧаВо</a>
                </li>
                <li class="footer-content__item">
                  <a class="footer-content__link animation" href="#" target="_blank" rel="noopener noreferrer">Карта
                    сайта
                  </a>
                </li>

              </ul>
            </div>
            <div class="footer-content footer-top__second">
              <address class="contacts">
                <ul class="contacts__list">
                  <li class="contacts__detail d-flex">
                    <svg class="contacts__icon">
                      <use xlink:href="images/sprite.svg#icon-location"></use>
                    </svg>
                    <span class="contacts__data animation"> ул. Т.Г.Шевченко, 1 </span>
                  </li>
                  <li class="contacts__detail d-flex">
                    <svg class="contacts__icon">
                      <use xlink:href="images/sprite.svg#icon-call"></use>
                    </svg>
                    <a class="contacts__data animation" href="tel:+380501112233">380501112233</a>
                  </li>
                  <li class="contacts__detail d-flex">
                    <svg class="contacts__icon">
                      <use xlink:href="images/sprite.svg#icon-message"></use>
                    </svg>
                    <a class="contacts__data animation" href="mailto:support@sfood.com">support@sfood.com</a>
                  </li>
                </ul>
                <ul class="contacts__list social d-flex">
                  <li class="social__item">
                    <a class="social__link social__link--fb d-flex" href="#" target="_blank" rel="noopener noreferrer">
                      <span class="sr-only">ссылка, ведущая на facebook компании</span>
                      <svg class="social__img social__img--fb">
                        <use xlink:href="images/sprite.svg#ic-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social__item">
                    <a class="social__link social__link--tw d-flex" href="#" target="_blank" rel="noopener noreferrer">
                      <span class="sr-only">ссылка, ведущая на twitter компании</span>
                      <svg class="social__img social__img--tw">
                        <use xlink:href="images/sprite.svg#ic-twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="social__item">
                    <a class="social__link social__link--ig d-flex" href="#" target="_blank" rel="noopener noreferrer">
                      <span class="sr-only">ссылка, ведущая на instagram компании</span>
                      <svg class="social__img social__img--ig">
                        <use xlink:href="images/sprite.svg#ic-instagram"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </address>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <span class="footer-bottom__txt">© 2022 Simple Food</span>
        </div>
      </footer>